/*-- scss:defaults --*/


/*-- scss:rules --*/

.leaflet-label{
  border-width:1px;
}

.samenvatting{
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.5;
}

.samenvatting .table>:not(caption)>*>*{
   border: hidden;
   padding: .1rem .1rem;
}

.quarto-figure .leaflet{
  text-align: left;
}